<div class="bordered">
	<table id="sonarqube_sources" class="sources2 code" cellpadding="0" cellspacing="0">
	    <%
	        lines.each_with_index do |line, index|
		        status = ''
		        if line.has_focus
		            status="ko"
		        end
	    %>
	    <tr class="row pos<%= index+1 -%>">
	        <%= render :partial => "shared/source_line_numbers", :locals => {:index => line.id} %>
	        <%= render :partial => "shared/source_code", :locals => {:code => line.source, :status => status} %>
	    </tr>
	    <% end %>
	</table>
</div>
