/**
 * SonarQube Integration Commons
 * Copyright (C) 2013 Marvelution
 * info@marvelution.com
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.sonarqube-widget,
.sonarqube-widget .view,
.sonarqube-widget .edit-form {
	width: 100%;
	height: auto;
}

.sonarqube-widget,
.sonarqube-widget iframe {
	margin: 0;
	padding: 0;
	border: 0;
	min-height: 100px;
	height: auto;
	position: relative;
}

.sonarqube-widget iframe {
	width: 99%;
}

.sonarqube-widget .widget-menu {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px;
}

.sonarqube-widget:hover .widget-menu {
	display: block;
}

.sonarqube-widget .widget-menu .aui-icon {
	color: #444;
}

.sonarqube-widget .edit-form {
	background: #FFF;
}

.sonarqube-widget .edit-form .buttons-container {
	border-top: 1px solid #DDD;
	clear: both;
	margin: 2px 10px 5px 10px;
	min-height: 2.7em
}

.sonarqube-widget .edit-form .buttons {
	padding: 0 0 5px 140px;
}

.sonarqube-widget .edit-form .buttons button {
	line-height: 1.2;
	margin: 10px 10px 0 0;
	padding: 0 0.5em;
}
